{% schema %}
    {
        "name": "Footer",
        "tag": "footer"
    }
{% endschema %}

<div class="p-2 text-xs text-center font-bold bg-fuchsia-200">
    <p>&copy; Moon &amp; Son 2020 | designed by <a href="https://ciaran.co.za/" rel="nofollow noopener">ciaran</a>.</p>
</div>